body{background-color: gray;
    border-color: black;
    border-style: groove;
    border-width: 5px;}    
h1{
    background-color:yellow;
    color: rgb(0, 256, 0);
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;}
p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 140%;}

    